/*Nav Bar Styling*/
body{
	font-family:"Fredoka",sans-serif;
}

nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position:fixed;
	top:0;
	width:100%;
		background: rgba(255, 255, 255, 0.7); /* semi-transparent */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
	height: 80px;
}

nav ul{
	display:flex;
	list-style:none;
	gap: 12px;
	padding-right: 120px;
}

nav a{
	text-decoration:none;
	color:black;
	padding-left: 120px;
}

.logo{
	font-family:"Chewy",cursive;
	font-size:28px;
	font-weight:bold;
	letter-spacing:1px;
}
section {
	margin-top: 80px;
	margin-left: 120px;
	margin-right:120px;
  display: none; /* hide all sections initially */
}

section.active {
  display: block; /* show only the active section */
}

@media screen and (max-width:768px){

nav{
	padding:0 16px;
	height: 90px;
}
nav ul{
	gap:12px;
	padding-right: 0;
}
nav a{
	font-size:16px;
	padding-left: 0;
}
.logo{
	font-size:22px;
}

section {
	margin-top: 90px;
	margin-left: 16px;
	margin-right: 16px;
}


}

@media screen and (max-width:480px){
  nav {
    padding: 0 12px;
    height: 80px;
    justify-content: flex-start;
  }

  nav ul {
    gap: 18px;
    padding-right: 0;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-left: 16px;
  }

  nav a {
    font-size: 14px;
    padding-left: 0;
  }

  .logo {
    font-size: 18px;
  }

  section {
    margin-top: 80px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
